{% extends "base.html" %}
{% block title %}art{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/art.css"/>    
{% endblock %}

{% block content %}
<div id="art" class="page overY">
  I like to draw. I'm not very good at it, but that hasn't stopped me yet. I also like photography, especially anything night or time-lapse.
  <br><b>Drawings</b>
  <div id="drawings" class="flexContainer wrap">
    <a href="art/d000.jpg" id="d000.jpg" class="artItem flexFixed"></a>
  </div>
  <br><b>Photos</b>
  <div id="pics" class="flexContainer wrap">
    <a href="art/p000.jpg" id="p000.jpg" class="artItem flexFixed"></a>
    <a href="art/p001.jpg" id="p001.jpg" class="artItem flexFixed"></a>
    <a href="art/p002.jpg" id="p002.jpg" class="artItem flexFixed"></a>
    <a href="art/p003.jpg" id="p003.jpg" class="artItem flexFixed"></a>
    <a href="art/p004.jpg" id="p004.jpg" class="artItem flexFixed"></a>
    <a href="art/p005.jpg" id="p005.jpg" class="artItem flexFixed"></a>
    <a href="art/p006.jpg" id="p006.jpg" class="artItem flexFixed"></a>
    <a href="art/p007.jpg" id="p007.jpg" class="artItem flexFixed"></a>
  </div>
</div>
{% endblock %}
