<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - hyperboleon</title>
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/hyperboleon.css"/>
    {% endblock %}
  </head>
  <body>
    <div class="flexContainer fullHeight overX">
      <div class="flexExpand"></div>
      <div id="stack" class="flexContainer vertical overX">
        <div id="header" class="flexContainer flexFixed spaceBetween border">
          <div id="titleText" class="fullHeight"> <!--MAYBE TAKE BORDER OUT!!!!!-->
            <div id="theTitle" title="One unit of hyperbole">HYPERBOLEON</div>
            <div id="subText">The poorly-named personal website of Jacob Hladky</div>
          </div>
          <div id="contact" class="fullHeight">
            <a href="mailto:jacob.hladky@gmail.com" class="contactElement notLink">email</a>
            <a href="#" id="socialLnk" class="contactElement notLink">social</a>
            <a href="/static/resume.pdf" class="contactElement notLink">résumé</a>
          </div>
        </div>
        {% set nav = ["about", "projects", "art", "else"] -%}
        <div class="flexContainer flexExpand overX">
          <div id="nav" class=" flexContainer flexFixed vertical overY">
            {% for name in nav %}
            <div class="flexContainer flexFixed navBackItem center">
              <a href="{{ '/' ~ name ~ '/'|e }}" id="{{ name ~ 'Nav'|e}}" class="flexContainer flexFixed navItem notLink center border">
                {{ name|e }}
              </a>
            </div>
            {% endfor %}
          </div> 
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="flexExpand"></div>
    </div>
    {% block script %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/base.js"></script>
    {% endblock %}
  </body>
</html>
