{% extends "base.html" %}
{% block title %}else{% endblock %}
{% block content %}
<div id="else" class="page overY">
  Important Classes I've taken/am taking:
  <ul>
    <li><b>CPE233 - Computer Design and Assembly Language Programming</b><br>
      VHDL and CPU architecture. Heavy on the VHDL, light on letting you sleep 
      or do anything other than program for the class.</li>
    <li><b>CPE357 - Systems Programming</b><br>
      Low level C. In this class I discovered I really loved to program. I also discovered that sometimes, 
      10am is too early for class.</li>
    <li><b>CPE453 - Introduction to Operating Systems</b><br>
      Even lower level C. It turns out that mucking with the stack pointer can break printf statements sometimes. 
      Not the worst debugging experience of my life... definitely in the top 5 though.</li>
    <li><b>EE306 - Semiconductor Device Electronics</b><br>
      Transistors: no longer powered by magic. Now it's all about the electrons... i.e. magic.</li>
    <li><b>CS490 - Javascript and Web Applications (Summer Course)</b><br>
      Learning a dynamic, weakly typed language was a bit of a culture shock, to say the least. 
      Segfaults are terrible, but at least you know something's wrong.</li>
  </ul>
  <hr>
  <div class="flexContainer">
    <div>
      Languages I enjoy programming in:
      <ul class="flushList">
        <li>c</li>
        <li>vhdl</li>
        <li>powershell, oddly enough</li>
      </ul>
    </div>
    <div>
      Languages I will program in if necessary
      <ul class="flushList">
        <li>java</li>
        <li>python</li>
        <li>js</li>
      </ul>
    </div>
    <div>
      Languages I'd like to learn sooner or later (ideally sooner):
      <ul class="flushList">
        <li>verilog/systemverilog</li>
        <li>lisp or some variant, maybe scheme</li>
        <li>something really weird like befunge</li>
      </ul>
    </div>
    <div>
      Languages I know enough about to be terrified of:
      <ul class="flushList">
        <li>c++</li>
      </ul>
    </div>
  </div>
  <hr>
  What year is it? <input type="text" id="whatYear"></input>
</div>
{% endblock %}
