{% extends "base.html" %}
{% block title %}projects{% endblock %}
{% block content %}
<div id="projects" class="page overY">
  <h2>These projects are either something I've cooked up on my own, or a class project ran with</h2>

  <div class="flexContainer crossCenter">
    <div id="cube/cube0.jpg" class="artItem flexFixed"></div>
    <div class="flexFixed"><h2>LED Cube</h2></div>
  </div>
  LED cube meetings are back on for the fall quarter! After some... 
  interesting experiences with the PSOC we're switching to the ATMega 644p.
  You can follow the goings-on of the project <a href="#">here</a>
  <br><br>
  <div class="flexContainer crossCenter">
    <a href="prj_live/RedditFlow.html" id="flow/flow0.png" class="artItem flexFixed"></a>
    <div class="flexFixed"><h2>Reddit Flow</h2></div>
  </div>
  This was the final project for my CS490 summer course in js. 
  It's based on the old Digg BigSpy webapp from Digg Labs.
  <br><br>
  <div class="flexContainer crossCenter">
    <div id="nexus/nexus0.jpg" class="artItem flexFixed"></div>
    <div class="flexFixed"><h2>RAT CPU bootloader</h2></div>
  </div>
  This was the final project for my CPE233 microprocessor design course. 
  <br><br>
  <div class="flexContainer crossCenter">
    <div id="car/car0.jpg" class="artItem flexFixed"></div>
    <div class="flexFixed"><h2>Arduino Controlled RC Car</h2></div>
  </div>
  A side project with CPES, I'm still adding stuff to this.
</div>
{% endblock %}
