html, body {
   height: 98%;
   /*font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
   
   background-color: black;
   color: white;
   font-family: 'Roboto Condensed', sans-serif;
}

html.pink, body.pink {
   background-color: #FF00FF;
}

/*Keep certain links looking like normal
I should fix the styling on the subreddit div also
*/
#subreddit, .post a {
   text-decoration: none;
   color: white;
}

.flexContainer {
   display: flex;
   display: -webkit-flex;
   display: -ms-flex;
}

.flexFixed {
   flex: none;
   -webkit-flex: none;
   -ms-flex: none;

   overflow-y: hidden;
   overflow-x: auto;
}

.vertical {
   flex-direction: column;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   
   height: 100%;
}

.center {
   justify-content: center;
   -webkit-justify-content: center;
   -ms-justify-content: center;
   
   align-items: center;
   -webkit-align-items: center;
   -ms-align-items: center;
}

.spaceBetween {
   justify-content: space-between;   
   -webkit-justify-content: space-between;
   -ms-justify-content: space-between;
}

.post {
   font-size: 10pt;   
   font-weight: bold;
}

.postTitle {
   padding-top: 0;
   padding-bottom: 0;
}

.upvotes {
   color: green;
   padding: .5em;
}

.comments {
   color: red;
   padding: .5em;
}  

.invisible, #backButton.invisible {
   display: none;
}

.invalid {
   background-color: red;
}

.lightblack {
   background-color: #191919;
}

.lightpink {
   background-color: #FF66FF;
}

.p0rn, .p0rn a {
   color: #8B0000;
}

#titleBar {
   height: 60px;   
   
}

#title {
   font-size: 75px;
   font-weight: bold;
   margin-right: 2px;
}

#author {
   align-self: flex-start;
   -flex-align-self: flex-start;
   -ms-align-self: flex-start;
}

#subBar {
   height: 30px;
   background-color: #4D4D4D;   
}  

#subBar.pink {
   background-color: white;
}

#subBar > div {
   margin-left: 1em;
   margin-right: 1em;
}

#subreddit {
   font-size: 16pt;
}

#subreddit.pink {
   color: #FF66FF;
}

#postsMode {
   font-size: 10pt;
   margin-left: 1em;
}

#backButton {
   margin-right: 1em;
}

#posts, #comments {
   flex: 1 1 auto;
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;

   overflow-y: auto;
   overflow-x: hidden;
}

#settingsMenu {
   font-size: 10pt;
}

#time {
   border: solid 1px;
   background-color: #085D97;
   border-color: #085D97;
   padding: 5px;
   border-radius: 8px;
   font-size: 12pt;
}

#time.time-disabled {
   background-color: DarkGrey;
   border-color: DarkGrey;
}

#settingsMenu .ui-menu {
   text-align: right;
}

#backButton .ui-button-text {
   padding-top: .5em;
   padding-bottom: .5em;
}

#postsMode .ui-button-text-only .ui-button-text {
   padding: .1em 1em;
}

#settingsMenu .ui-button-text-only .ui-button-text {
   padding: .1em 1em;
}

#displayDlg .ui-button-text {
   font-size: 10pt;
}